{% extends "main.html.twig" %}

{% block title title|title %}
{% block content %}
   {% if comments is not empty %}
    {% for comment in comments %}
<div class="comment_brief">
    <div class="comment_head">
        <p class="time">Добавлен: {{ comment.time|date('d/m/y') }}</p>
        к посту <a href="/admin/view?id={{ comment.post_id }}">
                           {{ comment.postTitle }}</a>
        <p class="name">{{ comment.name }}</p>
        <p class="body">{{ comment.body|nl2br }}</p>
        <p>Статус: <span class="{{ (comment.status == constant('CommentManager::APPROVED') )? "status published" : "status" }}">{{ comment.fancyStatus }}<span></p>
    </div>
    <p class="actions">
        <a class="remove_link" href="/admin/deleteComment?id={{ comment.id }}" data-type="комментарий"><img class="icon" src="/css/images/glyphicons_207_remove_21.png"> Удалить</a>
              {% if comment.status == constant('CommentManager::PENDING') %}
        | <a href="/admin/approve?id={{ comment.id }}"><img class="icon" src="/css/images/glyphicons_206_ok_21.png"> Утвердить</a>
              {% endif %}
    </p>
</div>
    {% endfor %}
    {% import 'manage.html.twig' as manage %}
      {{ manage.pagination(page, limit, lastPage, curURL, query) }}
  {% else %}
    Комментариев пока нет
  {% endif %}
{% endblock %}
