{% extends "main.html.twig" %}

{% block title title %}

{% block styles %}
<style type="text/css">
    td, th {
        border-right: 1px solid white;
        padding: 5px;
    }
    table {
        border-collapse: collapse;
        font-size: smaller;
        cellpadding: 0.5;
        float: right;
        table-layout:fixed;
    }
    th {
        background: wheat;

    }
    form {
        margin: 10px;
    }

    tr:nth-child(2n+1) {
        background: wheat;
    }/*
    .center {
        /*width: 800px;
        margin: auto;
    } */
    th+th {
        width: 40px;
    }
    th:first-child {
        width: 400px;
    }
    th:nth-child(2) {
        width: 200px;
    }
    th:last-child {
        width: 300px;
    }
    td+td {
        text-align: center;
    }
    label {
        width: 80px;
        display: inline-block;
    }
</style>
   {{ parent() }}
{% endblock %}

{% block content %}
<div class="center">
    <form action="/admin/manage" method="GET">
        <label for="status">Статус</label>
        <select name="status">
            <option value="">Все</option>
            {% macro statuses(status, archive) %}
                {% set max = archive|default(1) ? 3 : 2 %}  
                {% for i in 1..max %}
                    {% if i is constant('PostManager::DRAFT') %}
                        {% set filter = 'Черновики' %}
                    {% elseif i is constant('PostManager::PUBLISHED') %}
                        {% set filter = 'Активные' %}
                    {% elseif i is constant('PostManager::ARCHIVE') %}
                        {% set filter = 'Устаревшие' %}
                    {% endif %}
            <option value="{{ i }}" {% if status|default(null) == i %} selected="selected" {% endif %}>{{ filter }}</option>
                {% endfor %}
            {% endmacro %}
            {% import _self as manage %}
            {{ manage.statuses(status) }}
        </select><br>
        <label for="category">Категория</label>
        <select name="category">
            <option value="">Все</option>
             {% import 'add_post.html.twig' as add_form %}
                {{ add_form.categories(category, categories) }}
        </select><br>
                       <label for="title_search">Искать в заголовках</label>
        <input type="text" name="title_search" value="{{ string|default('') }}">
        <input type="submit" value="Поиск">
    </form>
    <!--
    <form type="/admin/manage" method="GET">
                <label for="title_search">Искать в заголовках</label>
        <input type="text" name="title_search">
        <input type="hidden" name="title_search_query" value="1">
        <input type="submit" value="Найти">
    </form> -->
{% if posts is not empty %}
    <table>
        <tr>
            <th>
                <a href="{% macro order(status, category, name, string, column, dir) %}{{ "/admin/manage?status=" ~ status|default("") ~ (string ? "&title_search=" ~ string : "" ) ~ "&category=" ~ category|default("") ~ "&c=" ~ name ~ "&d=" }}{% if column == name  %}{{ (dir == 1)? "0" : "1" }}{% else %}{{ (dir == 1)? 1 : 0 }}{% endif %}{% endmacro %}{% import _self as manage %}{{ manage.order(status, category, 'title', string, column, dir) }}">Заголовок</a>

            </th>
            <th>
                <a href="{{ manage.order(status, category, "category", string, column, dir) }}">Категория</a>
            </th>
            <th>
                <a href="{{ manage.order(status, category, "create_time", string, column, dir) }}">Время создания</a>
            </th>
            <th>
                <a href="{{ manage.order(status, category, "edit_time", string, column, dir) }}">Редактировался</a>
            </th>
            <th>
                <a href="{{ manage.order(status, category, "status", string, column, dir) }}">Статус</a>
            </th>
            <th>
                Действие
            </th>
        </tr>
    {% for post in posts %}
        <tr>
            <td>
            {{ (post.title|length > 40)? post.title|slice(0, 40) ~ "..." : post.title }}
            </td>
            <td>
            {{ post.category }}
            </td>
            <td>
            {{ post.create_time|date('d.m.Y') }}
            </td>
            <td>
            {{ post.edit_time|date('d.m.Y') }}
            </td>
            <td>
            {{ post.name }}
            </td>
            <td>
                <a href="{{ "/admin/view?id=" ~ post.id }}">Просмотр</a>
                <a href="{{ "/admin/edit?id=" ~ post.id }}">Редактировать</a>
                <a href="{{ "/admin/delete?id=" ~ post.id }}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
    </table>

{% macro pagination(page, limit, lastPage, curURL, query) %}

    {% set q = ( query is empty ) ?  "page=" : "&page=" %}

    {% if lastPage > 1 %}
    <div id="pagination">
        <ul>
      {% if page > 1 %}
            <li><a href="{{ curURL ~ q ~ (page - 1) }}">&larr;</a></li>
     {% endif %}
     {% for i in 1..lastPage %}
          {% if page == i %}
            <li> {{ i }} </li>
          {% else %}
            <li><a href="{{ curURL ~ q ~ i }}">{{ i }}</a></li>
          {% endif %}
     {% endfor %}
     {% if page < lastPage %}
            <li><a href="{{ curURL ~ q ~ (page + 1) }}">&rarr;</a></li>
     {% endif %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}

{% import _self as manage %}
  {{ manage.pagination(page, limit, lastPage, curURL, query) }}
</div>
{% else %}
Не найдено ни одной записи, соответствующей заданным параметрам
</div>
{% endif %}
{% endblock %}

