{% extends "main.html.twig" %}

{% block title title %}

{% block styles %}
    <style type="text/css">
        td, th {
            border-right: 1px solid white;
            padding: 5px;
        }
        table {
                        border-collapse: collapse;
                        font-size: smaller;
                        cellpadding: 0.5;
        }
        th {
            background: wheat;
        }
        form {
            margin: 10px;
        }
        
        tr:nth-child(2n+1) {
            background: wheat;
        }

    </style>
   {{ parent() }}
{% endblock %}

{% block content %}

<form action="/admin/manage" method="GET">
            <label for="status">Статус</label>
            <select name="status">
            <option value="">Все</option>
            {% macro statuses(status) %}
                {% for i in 1..3 %}
                    {% if i is constant('PostManager::DRAFT') %}
                        {% set filter = 'Черновики' %}
                    {% elseif i is constant('PostManager::PUBLISHED') %}
                        {% set filter = 'Активные' %}
                    {% elseif i is constant('PostManager::ARCHIVE') %}
                        {% set filter = 'Устаревшие' %}
                    {% endif %}
            <option value="{{ i }}" {% if status|default(null) == i %} selected="selected" {% endif %}>{{ filter }}</option>
                {% endfor %}
            {% endmacro %}
            {% import _self as manage %}
            {{ manage.statuses(status) }}
        </select>
            <input type="submit" method="GET" action="/admin/manage" value="применить фильтр">
</form>
    {%  set delim = (query is empty) ? "?" : "&"  %}
<table>
    <tr>
        <th>
            <a href="">Заголовок</a>
        </th>
        <th>
            <a href="">Категория</a>
        </th>
        <th>
            <a href="">Время создания</a>
        </th>
        <th>
            <a href="">Редактировался</a>
        </th>
        <th>
            <a href="">Статус</a>
        </th>
        <th>
            Действие
        </th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.category }}
        </td>
        <td>
            {{ post.create_time|date('d/m/Y') }}
        </td>
        <td>
            {{ post.edit_time|date('d/m/Y') }}
        </td>
        <td>
            {{ post.name }}
        </td>
        <td>
            <a href="{{ "/admin/view?id=" ~ post.id }}">Просмотр</a>
            <a href="{{ "/admin/edit?id=" ~ post.id }}">Редактировать</a>
            <a href="{{ "/admin/delete?id=" ~ post.id }}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% macro pagination(page, limit, lastPage, curURL, query) %}
     
    {% set q = ( query is empty ) ?  "page=" : "&page=" %}
    
    {% if lastPage > 1 %}
    <div id="pagination">
    <ul>
      {% if page > 1 %}
                <li><a href="{{ curURL ~ q ~ (page - 1) }}">&larr;</a></li>
     {% endif %}
     {% for i in 1..lastPage %}
          {% if page == i %}
                <li> {{ i }} </li>
          {% else %}
          <li><a href="{{ curURL ~ q ~ i }}">{{ i }}</a></li>
          {% endif %}
     {% endfor %}
     {% if page < lastPage %}
          <li><a href="{{ curURL ~ q ~ (page + 1) }}">&rarr;</a></li>
     {% endif %}
    </ul>
    </div>
    {% endif %}
{% endmacro %}

{% import _self as manage %}
  {{ manage.pagination(page, limit, lastPage, curURL, query) }}

{% endblock %}

