{% extends "2_columns.html.twig" %}
{% block title %} {{ title }} {% endblock %}

{% block header %}
<h1 style="   font-family: Tahoma bold, Tahoma, sans-serif;
            "> {Блог одной тян} </h1>
    {% if title is defined %}
        {{ parent() }}
    {% endif %}
{% endblock %}
{% block image  %}
   {% if user is not defined %}
       <section id='image'>
       <img src="/css/9e4b33ceba28eabbc18e29e68b0c5373.jpg">
       </section>
   {% endif %}
{% endblock %}

{% block content %}
    <div id="goTop">
        <div id="center">
            <div id="triangle"></div> 
        </div>
        <a>Наверх</a>
    </div>
  {% if posts is not empty %}
<ul id="posts">
    {% for post in posts %}
            {% set link = "/" ~ controller ~ "/view?id=" ~ post.id %}
    <li>
        <hr>
        <a href="{{ link }}" class="post_title">{{ post.title }}</a>
                {% if user is defined and user is not empty %}
        <div class="post_status">Статус: {{ post.name }}</div>
        <a href="{{ "/" ~ controller ~ "/edit?id=" ~ post.id }}">Редактировать</a> | <a href="{{ "/" ~ controller ~ "/delete?id=" ~ post.id }}">Удалить</a>
                {% endif %}
        <span class="time">{{ post.create_time|date('d.m.Y') }}</span>
                 {% autoescape false %}
                     {{ post.begining_html }}
                 {% endautoescape %}
        <a href="{{ link }}">Читать дальше&rarr;</a><br><br>
        Тэги: {% for tag in post.tags %}
        <a href="{{ "/" ~ controller ~ "/list?tag=" ~ tag }}">{{ tag }}</a> 
                          {% endfor %}
        <span class="comments_count">  Комментариев: {{ post.comments|default(0) }} </span>
    </li>
    {% endfor %}
</ul>
<hr><br>
 {% import 'manage.html.twig' as manage %}
  {{ manage.pagination(page, limit, lastPage, curURL, query) }}

  {% else %}
<p>
            {% if user is defined and category is not empty %}
    В данной категории в настоящее время нет ни одной записи. 
    Может быть <a href="{{ "/" ~ controller ~ "/deleteCategory?name=" ~ category }}">удалить</a>
    эту категорию ("{{ category }}")?
            {% else %}
    Публикаций пока нет.
            {% endif %}
</p>  
  {% endif %}
{% endblock content %}


