{% extends "main.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  {% if posts is not empty %}
        <ul>
    {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2><br />
                <div class="post_status">Статус: {{ post.name }}</div>
                       Опубликовано: 
                            {{ post.create_time }} <br />
                 {{ post.body|nl2br }}
            </li>
            <br /><hr />
    {% endfor %}
        </ul>
  {% else %}
        <p>
            Публикаций пока нет.
        </p>  
  {% endif %}
{% endblock content %}


