{% extends "main.html.twig" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
  {% if posts is not empty %}
        <ul>
    {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2><br />
                {% if user is defined and user is not empty %}
                <div class="post_status">Статус: {{ post.name }}</div>
                {% endif %}
                       Опубликовано: 
                            {{ post.create_time }} <br />
                       Комментариев: {{ post.comments }} <br />
                 {{ post.begining }}...
                 <a href="{{ "/" ~ controller ~ "/view?id=" ~ post.id }}">(показать полностью)</a><br />
                    Тэги: {% for tag in post.tags %}
                              <a href="{{ "/" ~ controller ~ "/list?tag=" ~ tag }}">{{ tag }}</a> 
                          {% endfor %}
            </li>
            <br /><hr />
    {% endfor %}
        </ul>
  {% else %}
        <p>
            Публикаций пока нет.
        </p>  
  {% endif %}
{% endblock content %}


