{% extends "main.html.twig" %}
{% block styles %}
 {{ parent() }}
<link rel="stylesheet" href="/css/2-columns.css">
{% endblock %}

{% block sidebar %}
            {% if categories is not empty %}
<p style="font-size: larger; background: wheat; margin-top: 0; padding: 5px;">  категории </p>
            <ul>
                {% for c in categories %}
                <li>
                    <a href="{{ "/" ~ controller ~ "/list?category=" ~ c.name }}">{{ c.name }}</a>
                    <span class="num_posts">{{ c.num_posts }}</span>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if cloud is not empty %}
          
         <p style="font-size: larger; background: wheat; margin-top: 0; padding: 5px;"> облако тэгов </p>
                  <div id="tag_cloud">
          {% for name, weight in cloud %}
         <a href="{{ "/" ~ controller ~ "/list?tag=" ~ name }}" style="font-size: {{ weight }}pt;"> {{ name }}</a>    
          {% endfor %}
         </div>
         {% endif %}
{% endblock %}
