{% if user is defined %}
  {% set controller = 'admin' %}
{% else %}
  {% set controller = 'index' %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>
{% block title title|default('Привет!') %}
            - Алёнин блог
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        {% block styles %}
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.min.css">
        {% endblock %}
        {% block javascript %}
        <script src="/javascript/jquery-1.11.0.min.js"></script>
        <script src="/javascript/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="/javascript/window_onload.js"></script>
        {% endblock %}
    </head>
    <body>
{% if user is defined %}
        <div id="nav">
            <ul style="list-style: none">
                <li {% if active is defined and active == "indexAction" %} class="active" {% endif %}><a href="{{ "/" ~ controller ~ "/" }}">главная</a></li>
                <li {% if active is defined and active == "addAction" %} class="active" {% endif %}><a href="/admin/add">добавить запись</a></li>
                <li  {% if active is defined and active == "manageAction" %} class="active" {% endif %}><a href="/admin/manage">управление записями</a></li>
                <li {% if active is defined and active == "approveCommentsAction" %} class="active" {% endif %}><a href="/admin/approveComments">комментарии ({{ pendingNum|default('0') }})</a></li>
                <li><a href="/admin/logout">выход</a></li>
            </ul>
        </div>
        {% endif %}
        <div id="wrapper" {% if user is defined %} style="margin-top: 40px;" {% endif %}>
            {% block image %}
            {% endblock %}
            <div id="content">                
            {% block header  %}
                <h3>{{ block('title') }} {% if total is defined %} ({{ total }}) |  <span id="home">Вернуться <a href="{{ "/" ~ controller ~ "/list" }}">на Главную</a></span> </h3> {% endif %}</h3>
            {% endblock %}
              {% if feedback is defined %}
            <div id="feedback" style="margin-top: 10px;" {{ feedback.error ? "class='error'" : ""  }} >{{ feedback.message }}</div>
                            {% endif %}
            {% block content %}
            {% endblock %}
            </div>
            <div id="sidebar">
         {% block sidebar %}
         {% endblock %}
            </div>
            <div class='page-buffer'></div>
        </div>
        <div id="footer">
            {{ "now"|date("Y") }} Powered by PHP 5 & Twig
        </div>
    </body>
</html>
